RewriteEngine On
RewriteBase /portfolio/little-lemon/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /portfolio/little-lemon/index.html [L]