.about {
	grid-template-columns: 1fr minmax(200px, 370px) 450px 1fr;
}

.about h2 {
	margin-bottom: 1.25em;
}

.about-item:first-child {
	grid-column: 2/3;
}

.about-item:nth-child(2) {
	grid-column: 3/4;
	text-align: right;
}

.about img {
	width: 60%;
	height: 336px;
	object-fit: cover;
}

.about img:first-child {
	/* Picture on the right (behind) */
	object-position: 53% 100%;
}

.about img:nth-child(2) {
	/* Picture on left (front) */
	position: relative;
	top: -34.2%;
	right: 40%;
	object-position: 64% 100%;
	margin-bottom: -34.2%;
}

@media screen and (max-width: 750px) {
	.about {
		grid-template-columns: 1fr auto 1fr;
	}

	.about-item:first-child,
	.about-item:nth-child(2) {
		grid-column: 2;
	}

	.about p {
		text-align: justify;
	}

	.about img:first-child {
		height: 68vw;
	}

	.about img:nth-child(2) {
		height: 68vw;
		top: -40%;
	}
}
