.about {
    grid-template-columns: 1fr minmax(auto,375px) minmax(auto,445px) 1fr;
}

.about h2 {
    width: max-content;
}

.about-item:first-child {
    grid-column: 2/3;
}

.about-item:nth-child(2) {
    grid-column: 3/4;
    text-align: right;
    max-height: 443px;
}

.about img {
    width: 272px;
    height: 336px;
    object-fit: cover;
    object-position: center;
  }

.about img:first-child {
    object-position: 53% 100%;
}

.about img:nth-child(2) {
    position: relative;
    top: -233px;
    right: 173px;
    object-position: 64% 100%;
}

@media screen and (min-width: 891px) {
    .about-item:first-child {
        max-width: 340px;
    }
}


 @media screen and (max-width: 890px) {

    .about p {
        max-width: 300px;
    }

}

@media screen and (max-width: 840px) {

    .about p {
        max-width: 275px;
    }

}

@media screen and (max-width: 790px) {

    .about p {
        max-width: 250px;
    }

}


@media screen and (max-width: 765px) {

    .about p {
        max-width: 175px;
    }

}

@media screen and (max-width: 675px) {

    .about {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
    }

    .about-item:first-child {
        grid-column: 2/4;
    }

    .about-item:nth-child(2) {
        grid-column: 2/4;
        margin-top: 12px;
        display: flex;
        flex-direction: row;
    }

    .about p {
        column-span: all;
        text-align: justify;
        max-width: 100%;
    }

    .about img:first-child {
        grid-column: 1/2;
        grid-row: 2/3;
        justify-self: end;
        width: 50vw;
        height: 68vw;
        object-position: 75% 100%;
    }

    .about img:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: start;
        width: 45vw;
        height: 68vw;
        top: -40px;
        right: 20px;
        object-position: 64% 100%;
    }

}

/* @media screen and (max-width: 675px) {

    .about p {
        max-width: 175px;
    }

} */