/* Styling for BookingPage and ConfirmedBooking */

.booking-page {
    position: relative;
    padding: 0 0 100px 0;
}

.booking-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 225px;
    background-color: var(--primary-green);
    z-index: -1;
  }

.booking-header {
    grid-column: 2/4;
    display: flex;
    justify-content: space-between;
}

.booking-title {
    align-self: center;
    margin-top: -48px;
}

.booking-page img {
    object-fit: cover;
    object-position: center;
}

.booking-item {
    grid-column: 2/4;
}

/* Styles overwritten specifically foor ConfirmedBooking */

.confirmed.booking-page::before {
    height: 70%;
}

.confirmed.booking-header {
    flex-direction: column;
}

.confirmed.booking-title {
    margin: 1em 0;
    align-self: flex-start;
}

.confirmed.booking-page div {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 0;
}

.confirmed.booking-page h2 {
    color: white;
}

.confirmed.booking-page img {
    width: 393px;
    height: 395px;
    margin-top: -24px;
}

/* Styles for BookingForm */
/* Works for all dropdowns (people, time, location, occasion) */
.booking-page i {
    position: relative;
    left: 20px;
    top: 40px;
    z-index: 100;
}

/* Works for calendar and text input types */
.icon-text-calendar i {
    z-index: 100;
    position: relative;
    right: 320px;
}

.box {
    height: 60px;
}

 select, input {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    height: 60px;
    width: 340px;
    border-radius: 16px;
    border: none;
    outline: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    appearance: none;
    padding: 0;
    margin: 0;
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--highlight-lgrey);
  -webkit-box-shadow: 0 0 0px 40rem var(--primary-green) inset;
}

.chakra-select__icon-wrapper {
    right: 10px;
}

select::-ms-expand {
    display: none;
  }

select {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1.75em;
}

.chakra-select__icon {
    width: 1.75em !important;
    height: 1.75em !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    background: transparent;
    color: transparent;
    cursor: pointer;
    height: 60px;
    width: 340px;
}

@media screen and (max-width: 880px) {

    .booking-header {
        flex-direction: column;
        justify-content: center;
    }

    .booking-title {
        margin: 0.4em 0 0 0;
        align-self: flex-start;
    }

    .booking-page img {
        width: 60%;
        height: 60%;
        object-fit: cover;
        object-position: center;
        align-self: flex-end;
        margin-top: 24px;
    }

    .confirmed.booking-page img {
        margin-top: 0;
    }

    .confirmed h1 {
        font-size: 52px;
    }

    .confirmed h2 {
        font-size: 32px;
    }

}

@media screen and (max-width: 760px) {
    .chakra-simple-grid {
        justify-items: center;
    }

    .booking-title {
        justify-content: center;
    }

    .confirmed.booking-page img {
        width: 40vw;
        height: 50vw;
    }
}

@media screen and (max-width: 470px) {
    .booking-title {
        font-size: 52px;
    }

    .confirmed h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 430px) {

    .confirmed h2 {
        font-size: 24px;
    }

    .confirmed.booking-page div {
        flex-direction: column;
    }

    .confirmed.booking-title {
        margin: 1em 0 0.25em 0;
    }

}

@media screen and (max-width: 400px) {

    .confirmed h1 {
        font-size: 38px;
    }

}

@media screen and (max-width: 300px) {

    .confirmed h1 {
        font-size: 32px;
    }

    .confirmed h2 {
        font-size: 20px;
    }

}