.booking-page {
    padding: 0 0 100px 0;
}

.booking-header {
    grid-column: 1/5;
    grid-template-columns: 1fr repeat(2, minmax(auto,410px)) 1fr;
    background-color: var(--primary-green);
    height: 156px;
    padding: 0;
    align-content: center;
}

.confirmed-booking-header {
    grid-column: 1/5;
    background-color: var(--primary-green);
    height: calc(100vh - 100px);
    padding: 0;
    align-content: center;
}

.confirmed-booking-header .booking-title {
    margin-top: -100px;
}

.booking-title {
    grid-column: 2/4;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.booking-page img {
    width: 393px;
    height: 395px;
    object-fit: cover;
    object-position: center;
  }

.booking-item {
    grid-column: 2/4;
}

/* Works for all dropdowns (people, time, location, occasion) */
.booking-page i {
    position: relative;
    left: 20px;
    top: 40px;
    z-index: 100;
}

/* Works for calendar and text input types */
.icon-text-calendar i {
    z-index: 100;
    position: relative;
    right: 320px;
}

 select, input {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    height: 60px;
    width: 340px;
    border-radius: 16px;
    border: none;
    outline: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    appearance: none;
    padding: 0;
    margin: 0;
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--highlight-lgrey);
  -webkit-box-shadow: 0 0 0px 40rem var(--primary-green) inset;
}

.chakra-select__icon-wrapper {
    right: 10px;
}

select::-ms-expand {
    display: none;
  }

select {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1.75em;
}

  .chakra-select__icon {
    width: 1.75em !important;
    height: 1.75em !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    background: transparent;
    color: transparent;
    cursor: pointer;
    height: 60px;
    width: 340px;
}

@media screen and (max-width: 760px) {
    .chakra-simple-grid {
        justify-items: center;
    }

    .booking-title {
        justify-content: center;
    }
}

@media screen and (max-width: 470px) {
    .booking-title {
        font-size: 52px;    }
}