footer {
    background-color: var(--highlight-lgrey);
    color: var(--primary-green);
}

.footer-item:first-child {
    grid-column: 2;
}

.footer-item:nth-child(2) {
    grid-column: 3;
    justify-self: end;
    max-width: 50vw;
}

footer .logo {
    height: 150px;
    width: auto;
}

footer h2 {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    padding-top: 0;
    text-transform: uppercase;
    color: var(--primary-green);
}

footer p {
    color: var(--primary-green);
    margin-top: 0;
}

.socialicon {
    width: 30px;
    padding-right: 15px;
    margin: 0;
}

@media screen and (max-width: 500px) {

    footer p {
        max-width: 60vw;
        justify-content: end;
    }
  }