.navbar {
  padding: 0;
  height: 108px;
  align-items: center;
  grid-template-columns: 1fr repeat(2, minmax(auto,410px)) 1fr;
}

.header-container {
  grid-column: 2/4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo img {
  width: 200px;
  margin: auto 0;
}

.nav-elements {
  grid-column-end: 4;
  margin-right: -16px;
  max-width: 600px;
  justify-self: end;
}

.nav-elements ul {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
}

.nav-elements li {
  margin: clamp(10px, 1.5vw, 30px);
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  align-items: center;
}

.nav-elements a {
  text-decoration: none;
  color: #495E57;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 700px) {

  .navbar {
    display: block;
    grid-template-columns: none;
    height: auto;
    margin: 0;
    padding: 16px 24px;
  }

  .header-container {
      align-content: center;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    color: var(--primary-green);
    margin: auto 0;
  }

  .nav-elements {
    display: none;
    top: 75px;
    padding-left: -16px;
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    display: block;
    position: absolute;
    width: 100%;
    margin-left: -16px;
    z-index: 10;
  }

  .nav-elements ul {
    display: flex;
    align-content:  center;
    flex-direction: column;
    background: var(--highlight-lgrey);
  }

  .nav-elements ul li {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: var(--highlight-lgrey);
    border-bottom: 1px dashed #949393;
  }

}

