.hero {
    background-color: var(--primary-green);
    height: 300px;
    padding: 50px 0 50px 0;
}

.hero-item:first-child {
    grid-column: 2/3;
    min-width: 350px;
    max-width: 422px;
    margin-top: -5px;
}

.hero-item:nth-child(2) {
    grid-column: 3/4;
    justify-self: end;
    margin-top: 10px;
}

.hero-item img {
    width: 393px;
    height: 395px;
    object-fit: cover;
    object-position: center;
  }

  .hero h2 {
    color: white;
    margin-top: -10px;
  }

  .hero p {
    color: white;
    margin: 1.75rem 0 1.75rem 0;
    max-width: 420px;
  }

  .hero button:hover {
    background: var(--secondary-lpeach);
    color: black;
  }

  @media screen and (max-width: 1056px) {

    .hero {
        padding: 50px 0 50px 0;
    }

    .hero img {
        width: 350px;
    }
  }

  @media screen and (max-width: 768px) {

    .hero {
        display: block;
        height: 480px;
        width: auto;
        background-image: url('../../public/heroimage.jpg');
        background-size: cover;
        background-position: center center;
        object-fit: cover;
        padding: 24px;
        margin-bottom: 35px;
    }

    .hero-item:first-child {
        min-width: calc(320px - 48px);
        max-width: calc(100vw - 48px);
    }

    .hero img {
        display: none;
    }

    .hero p {
        padding-top: 235px;
        width: calc(100vw - 48px);
    }

    .hero p, .hero button {
        align: left;
    }

    .hero h1, .hero h2 {
        text-align: right;
        text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    }

    .hero h1 {
        font-size: 50px;
    }

    .hero h2 {
        font-size: 30px;
    }
  }

/*   @media screen and (max-width: 600px) {

    .hero img {
        position: absolute;
        border-radius: 16px 0px 0px 16px;
        width: 135px;
        height: 162px;
        right: 0px;
        top: 230px;
    }

    .hero-item {
        display: block;
    }

    .hero p {
        width: 220px;
    }
  } */