.reviews {
    background: var(--primary-green);
}

.reviews-title {
    grid-column: 2/4;
    color: var(--primary-yellow);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reviews-container {
    grid-column: 2/4;
    overflow-x: auto;
}

.reviews .card {
    padding: 12px;
    margin: 0;
    gap: 0;
    justify-content: space-between;
/*     height: 200px !important;
    width: 200px !important; */
}

.reviews .card-body {
    padding: 18px;
    margin: 0;
    gap: 18px;
    background: white;
    border-radius: 16px;
    min-height: 170px;
    min-width: 156px;
}

.card:first-child {
    padding-left: 0;
    margin-left: 0;
}

.card:last-child {
    padding-right: 24px;
}

.reviews p {
    color: #333333;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 700px) {
    .reviews-title {
        font-size: 34px;
    }

    .reviews {
        padding: 50px 0;
        grid-gap: 24px;
    }
}