.specials {
    padding: 150px 0 100px;
}

.specials-header {
    grid-column: 2/4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.specials-container {
    grid-column: 2/4;
    overflow-x: auto;
}

.mobile {
    display: none;
}

.card {
    padding: 12px;
    width: 264px;
    margin: 0;
    gap: 0;
    justify-content: space-between;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
}

.card-body {
    padding: 24px;
    margin: 0;
    gap: 10px;
    background: var(--highlight-lgrey);
}

.card:first-child {
    padding-left: 0;
}

.card:last-child {
    padding-right: 0;
}

.specials p {
    color: #6E6F6E;
}

.specials a {
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 700px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
        grid-column-start: 2;
    }

    .specials {
        grid-gap: 16px;
    }

    .card {
        padding: 8px;
    }

    .card:last-child {
        padding-right: 0;
    }

}