body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  margin: 0 70px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
  display: grid;
  height: 120px;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  place-items: center;
}

header img {
  display: block;
  grid-column-start: 2;
  width: 200px;
}

header nav {
  grid-column-end: 11;
}

.menu ul {
  /*display: flex;  maakt de lijst flexibel */
  flex-wrap: wrap;
  justify-content: flex-end;  /*lijnt de items rechts uit */
  list-style-type: none; /* verwijdert de standaard bullets */
  margin: 0; /* verwijdert de standaard marges */
  padding: 0; /* verwijdert de standaard padding */
}

.menu li {
  margin: 30px; /* voegt ruimte toe tussen de items */
  display: inline;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  align-items: center;
}

.menu a {
  text-decoration: none; /* verwijdert de standaard onderstreping */
  color: #495E57;
}

.main {
  grid-area: main;
  margin: 0 70px;
}

.footer {
  grid-area: footer;
}

footer .logo{
  height: 279px;
}

.socialicon {
  width: 30px;
  padding-right: 15px;
  color: #495E57;
}

