html, body, main {
  margin: 0;
  padding: 0;
}

:root {
  --primary-green: #495E57;
  --primary-yellow: #F4CE14;
  --secondary-dpeach: #EE9972;
  --secondary-lpeach: #FBDABB;
  --highlight-lgrey: #edefee;
  --highlight-dgrey: #333333;
}

.grid {
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(auto,410px)) 1fr;
  gap: 24px;
  padding: 100px 0;
}

main img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 16px;
}

a, a::after {
  cursor: pointer;
  color: var(--primary-green);
  text-decoration: none;
}

h1 {
  font-family: 'Markazi Text';
  font-weight: 500;
  font-size: 64px;
  color: var(--primary-yellow);
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: var(--primary-green);
  margin: 0;
  padding: 0;
}

.section-title {
  position: relative;
  width: max-content;
}

.section-title::before {
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 28px;
  left: 12px;
  top: 19.5px;
  bottom: 0;
  z-index: -1;
  background: var(--secondary-lpeach);
  border-radius: 16px 16px 0px 16px;
}

h3 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

p {
  font-family: 'Karla';
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--highlight-dgrey);
}

.CTA-lead-text {
  font-family: 'Karla';
  font-size: 18px;
  line-height: 22px;
}

.price {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--secondary-dpeach);
}

.error-message {
  color: red;
}

button {
  background: #F4CE14;
  height: 60px;
  width: 200px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: black;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background: var(--primary-green);
  border: 1px solid white;
  color: white;
}

@media screen and (max-width: 765px) {
  .grid {
    padding: 75px 0;
  }
}

