html, body, main {
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --primary-green: #495E57;
  --primary-yellow: #F4CE14;
  --secondary-dpeach: #EE9972;
  --secondary-lpeach: #FBDABB;
  --highlight-lgrey: #edefee;
  --highlight-dgrey: #333333;

  /* Font sizes */
  --h1-size: 64px;
  --h2-size: 40px;
  --h3-size: 18px;
  --CTA-size: 18px;
  --p-size: 16px;

  /* Other */
  --form-field-width: 340px;
  --form-field-height: 60px;
  --top-padding-hero-text: 220px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(auto,410px)) 1fr;
  gap: 24px;
  padding: 100px 0;
}

main img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 16px;
}

a, a::after {
  cursor: pointer;
  color: var(--primary-green);
  text-decoration: none;
}

h1 {
  font-family: 'Markazi Text';
  font-weight: 500;
  font-size: var(--h1-size);
  color: var(--primary-yellow);
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 400;
  font-size: var(--h2-size);
  color: var(--primary-green);
  margin: 0;
  padding: 0;
}

.section-title {
  position: relative;
  width: max-content;
  font-size: var(--h2-size);
}

.section-title::before {
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 28px;
  left: 12px;
  top: 19.5px;
  bottom: 0;
  z-index: -1;
  background: var(--secondary-lpeach);
  border-radius: 16px 16px 0px 16px;
}

h3 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: var(--h3-size);
  line-height: 22px;
  color: black;
}

p {
  font-family: 'Karla';
  font-style: normal;
  font-size: var(--p-size);
  line-height: 20px;
  color: var(--highlight-dgrey);
}

.CTA-lead-text {
  font-family: 'Karla';
  font-size: var(--CTA-size);
  line-height: 22px;
}

.price {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: var(--p-size);
  line-height: 20px;
  color: var(--secondary-dpeach);
}

.error-message {
  color: red;
  margin: 6px 0 -12px 16px;
}

button,
.button-style {
  display: inline-block;
  background: var(--primary-yellow);
  height: 60px;
  width: 200px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: var(--CTA-size);
  text-align: center;
  line-height: 60px;
  color: black;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover,
.button-style:hover {
  background: var(--primary-green);
  border: 1px solid white;
  color: white;
}

.out-scope a {
  position: relative;
  color: white;
  z-index: 1;
}

.out-scope a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  z-index: -1;
}

.out-scope a:hover {
  color: var(--primary-green);
}

.out-scope a:hover::before {
  opacity: 1;
}


@media screen and (max-width: 765px) {
  .grid {
    padding: 75px 0;
  }

  h1 {
    font-size: calc(var(--h1-size) * 0.8);
  }

  h2 {
    font-size: calc(var(--h2-size) * 0.8);
  }

}

@media screen and (max-width: 400px) {

  h1 {
      font-size: calc(var(--h1-size) * 0.6);
  }

  h2 {
    font-size: calc(var(--h2-size) * 0.6);
  }

  .CTA-lead-text {
    font-size: calc(var(--CTA-size) * 0.9);
  }
}

@media screen and (max-width: 380px) {

  .section-title {
    font-size: calc(var(--h2-size) * 0.7);
  }

  .section-title::before {
    height: calc(28px * 0.7);
    top: calc(19.5px * 0.7);
  }

}

